.card {
  margin: 12px 0;
  width: 100%;
  text-decoration: none;
  color: #000;
}
.card-img-top {
  max-height: 156px;
}
.news__hidden-line {
  display: -webkit-box;
  line-height: 1.3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.hidden-title {
  display: -webkit-box;
  line-height: 1.3;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: #000;
}

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* Mobile */
@media only screen and (max-width: 46.1875em) {
  .card:hover {
    color: #000;
  }
}
