.card {
  margin: 12px 0;
  width: 100%;
  text-decoration: none;
  color: #000;
}
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {
}

/* Mobile */
@media only screen and (max-width: 46.1875em) {
  .card:hover {
    color: #000;
  }
}
